﻿@model DelightGenie.Models.ViewModels.AdminVM.SettingsVM

<script>
    var stop = false;
</script>

<div>
    @using (Ajax.BeginForm("ChangeAdminPass", "Users", new AjaxOptions {OnBegin = "if(stop)e.preventDefault();$('#loading').show();stop=true;", OnSuccess = "changeAdminPass(data);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);"}))
    {
        <table class="table">
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPasswordAgain)</td>
                <td>@Html.PasswordFor(m => m.NewPasswordAgain)</td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Change password!" />
    }
</div>

<script>
    function changeAdminPass(data) {
        //alert("ceva");
        if (data == "K") {
            showMessage("alert-success", "Password changed!");
        } else if (data == "P") {
            showMessage("alert-danger", "Current password incorrect!");
        } else if (data == "N") {
            showMessage("alert-danger", "The new password should be between 4-28 chars!");
        } else if (data == "P") {
            showMessage("alert-danger", "Failed for unknown reasons!");
        }
        $('#loading').hide();

        setTimeout(function() { stop = false; }, 10);

    }
</script>