﻿@model DelightGenie.Models.ViewModels.AdminVM.GroupVM

<script>
    var stop = false;
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Edit group @Model.Name</h2>
</div> 
<div class="modal-body">

    @using (Ajax.BeginForm("EditGroup", "Groups", new AjaxOptions {OnBegin = "if(stop)e.preventDefault();$('#loading').show();stop=true;", OnSuccess = "editGroup(data);stopForm=false;setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);"}))
    {
        @Html.HiddenFor(m => m.Id)
        <table class="table">
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Points)</td>
                <td>@Html.TextBoxFor(m => m.Points)</td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Save Group!" />
    }
</div>