﻿@using DelightGenie.Models.DbModels.AccountModels
@model DelightGenie.Models.ViewModels.AdminVM.GroupsVM

<style>
    table td {
        padding-right: 10px;
    }
</style>

<h1>Groups</h1>
<div class="myh">
    <form onsubmit=" createGroup() ">
        <table>
            <tr>
                <td>Create a new group </td>
                <td>
                    <input type="text" id="groupname" class="form-control" placeholder="Insert group name" />
                </td>
                <td> with this number of </td>
                <td>
                    <input type="text" id="grouppoints" class="form-control" placeholder="points" />
                </td>
                <td>
                    <input type="submit" class="btn btn-success" value="Create group!" />
                </td>
            </tr>
        </table>
    </form>
</div>

<br /><br />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Group name</th>
                <th>Default number of points</th>
                <th>Number of employees</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="groupsTable">
            @if (Model != null && Model.Groups != null)
            {
                int i = 0;
                foreach (Group group in Model.Groups)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@group.GroupName</td>
                        <td>@group.Points</td>
                        <td>@(group.Employees != null ? group.Employees.Count : 0)</td>
                        <td>
                            <span class="btn-group">
                                <button class="btn btn-warning" data-toggle="modal" data-target="#dashboardmodal" data-remote="/Groups/GetGroup/@(group.Id)">
                                    Edit
                                </button>
                                @if (group.GroupName != Group.DefaultGroupName)
                                {
                                    @Ajax.ActionLink("Delete", "DeleteGroup/" + group.Id, "Groups", new AjaxOptions { OnBegin = "if(stop){e.preventDefault();return false;}stop=true;return ask();", OnSuccess = "deleteGroup(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);" }, new { @class = "btn btn-danger" })
                                }
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    var stop = false;

    function deleteGroup(data) {
        if (data == "K") {
            showMessage("alert-success", "Group deleted!");
            loadpagelink("/Groups/Index");
        } else {
            showMessage("alert-danger", "The delete failed!");
            $("#loading").hide();
        }
    }

    function editGroup(data) {
        if (data == "K") {
            showMessage("alert-success", "Group modified!");
            loadpagelink("/Groups/Index");
            $('.modal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        } else if (data == "N") {
            showMessage('alert-danger', 'Insert at least 3 characters!');
        } else if (data == "P") {
            showMessage('alert-danger', 'The points shall be a positive number!');
        } else if (data == "D") {
            showMessage("alert-danger", "That group name already exists!");
            $("#loading").hide();
        } else {
            showMessage("alert-danger", "The modification failed!");
        }
        $("#loading").hide();
    }

    function createGroup() {
        event.preventDefault();
        var groupName = $('#groupname').val();
        var points = parseInt($('#grouppoints').val());

        if (groupName.length < 3) {
            showMessage('alert-danger', 'Insert at least 3 characters!');
            return;
        } else if (isNaN(points) || points == "" || points < 1) {
            showMessage('alert-danger', 'The points shall be a positive number!');
            return;
        }

        $("#loading").show();

        $.ajax({
            type: "POST",
            url: "/Groups/InsertGroup",
            data: { groupName: groupName, points: points },
            context: this,
            success: function (data) {
                if (data == "K") {
                    showMessage("alert-success", "Group added!");
                    loadpagelink("/Groups/Index");
                } else if (data == "D") {
                    showMessage("alert-danger", "That group name already exists!");
                    $("#loading").hide();
                } else {
                    showMessage('alert-danger', 'Adding the group failed!');
                    $("#loading").hide();
                }
            },
            error: function (data) {
                showMessage('alert-danger', 'Adding the group failed!');
                $("#loading").hide();
            }
        });
        return false;
    }

    function ask() {
        if (!confirm('Are you sure you want to delete the group?')) {
            event.preventDefault();
            setTimeout(function () { stop = false; }, 10);
            return false;
        }
    }

    //Reset the modal after usage
    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>