﻿<style>
     #bigtitle {
         color: rgb(248, 134, 44);
         font-family: 'Dosis';
         font-size: 60px;
         margin-top: 100px;
     }

     #bodytext {
         color: white;
         font-family: 'Roboto';
         font-size: 25px;
     }
 </style>
<br /><br /><br /><br /><br />
<span id="bigtitle">
    404: Page not found
</span>
<br /><br />
<span id="bodytext">
    You seem to be lost...
    <br />
    Try going back to our main page:
    <a href="/">DelightGenie</a> :)

</span>