﻿@using DelightGenie.Models.DbModels.NotificationModels
@model DelightGenie.Models.ViewModels.AdminVM.NotificationsVM

<div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>The user who made the request</th>
                <th>Product</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="groupsTable">
            @if (Model != null && Model.notifications != null)
            {
                int i = 0;
                foreach (ProductCreateNotification notification in Model.notifications)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@notification.Employee.UserName</td>
                        <td>@notification.ProductName</td>
                        <td>@notification.NotificationDate.ToString()</td>
                        <td>
                            <span class="btn-group">
                                <button class="btn btn-success" data-toggle="modal" data-target="#dashboardmodal" data-remote="/Products/NewProduct/@notification.Id">
                                    Add product
                                </button>
                                @Ajax.ActionLink("Delete", "DeleteProductNotification/" + notification.Id, "Notifications", new AjaxOptions { OnBegin = "if(stop){e.preventDefault();return false;}stop=true;return ask();", OnSuccess = "deleteNotification(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);" }, new { @class = "btn btn-danger" })
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    var stop = false;

    function deleteNotification(data) {
        if (data == "K") {
            showMessage("alert-success", "Notification deleted!");
            loadpagelink("/Notifications/Index");
        } else {
            showMessage("alert-danger", "The delete failed!");
        }
    }

    function ask() {
        if (!confirm('Are you sure you want to delete the notification?')) {
            event.preventDefault();
            setTimeout(function () { stop = false; }, 10);
            return false;
        }
    }
</script>