﻿@using DelightGenie.Models.DbModels.ProductModels
@model DelightGenie.Models.ViewModels.AdminVM.ProductVM

<script>
    var stop = false;
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Edit product @Model.Name</h2>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("EditProduct", "Products", new AjaxOptions {OnBegin = "if(stop)e.preventDefault();$('#loading').show();stop=true;", OnSuccess = "editProduct(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);"}))
    {
        @Html.HiddenFor(m => m.Id)
        <table class="table">
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>@Html.TextAreaFor(m => m.Description)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Price)</td>
                <td>@Html.TextBoxFor(m => m.Price)</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select name="Category" id="categorieslist" class="form-control">
                        @if (Model != null && Model.Categories != null)
                        {
                            foreach (Category category in Model.Categories)
                            {
                                <option value="@category.Id" @(category.Id.ToString() == Model.Category ? "selected" : "")>@category.CategoryName</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Save product!" />
    }
</div>
<script>
    dealForms();
</script>