﻿@using DelightGenie.Models.DbModels.ProductModels
@model DelightGenie.Models.ViewModels.AdminVM.ProductsVM


<style>
    table td { padding-right: 10px; }
</style>

<h1>Products</h1>
<div class="myh">
    <table>
        <tr>
            <td>View products from a category </td>
            <td>
                <select id="categorieslist" class="form-control" onchange=" loadProducts(this.value) ">
                    <option value="0" selected>-- All --</option>
                    @if (Model != null && Model.Categories != null)
                    {
                        foreach (Category category in Model.Categories)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    }
                </select>
            </td>
            <td> or </td>
            <td>
                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#dashboardmodal" data-remote="/Products/NewProduct">Create a new product!</button>
            </td>
        </tr>
    </table>
</div>

<br /><br />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Nr. of users who bidded</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="productsTable"></tbody>
    </table>
</div>

<script>
    function loadProducts(categoryId) {
        $("#loading").show();

        $.ajax({
            type: "GET",
            url: "/Products/ProductsTable",
            data: { categoryId: categoryId },
            context: this,
            success: function(data) {
                $("#productsTable").html(data);
                $("#loading").hide();
            },
            error: function(data) {
                showMessage('alert-danger', 'The products table cannot be fetched from the server!');
                $("#loading").hide();
            }
        });
    }

    function editProduct(data) {
        $('#loading').hide();

        if (data == "K") {
            showMessage("alert-success", "Saved!");
            $('.modal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            loadProducts($("#categorieslist").val());
        } else if (data == "N") {
            showMessage("alert-danger", "The name must have more than 1 caracter");
        } else if (data == "P") {
            showMessage("alert-danger", "The price is invalid!");
        } else {
            showMessage("alert-danger", "The edit failed!");
        }
    }

    function deleteProduct(data) {
        if (data == "K") {
            showMessage("alert-success", "Product deleted!");
            loadProducts($("#categorieslist").val());
        } else {
            showMessage("alert-danger", "The delete failed!");
        }
    }

    loadProducts($("#categorieslist").val());

    //Reset the modal after usage
    $('body').on('hidden.bs.modal', '.modal', function() {
        $(this).removeData('bs.modal');
    });
</script>