﻿@using DelightGenie.Models.DbModels.ProductModels
@model DelightGenie.Models.ViewModels.AdminVM.ProductVM

<script>
    var stop = false;
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Create a new product</h2>
</div>
<div class="modal-body">
    <script>
        var stop = false;
    </script>
    @using (Ajax.BeginForm("CreateProduct", "Products", new AjaxOptions {OnBegin = " if(stop)e.preventDefault();$('#loading').show();stop=true;", OnSuccess = "createProduct(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);"}, new {@id = "productform"}))
    {
        @Html.HiddenFor(m => m.NotificationId)
        <table class="table">
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>@Html.TextAreaFor(m => m.Description)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Price)</td>
                <td>@Html.TextBoxFor(m => m.Price)</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select name="Category" id="categorieslist" class="form-control">
                        @if (Model != null && Model.Categories != null)
                        {
                            foreach (Category category in Model.Categories)
                            {
                                <option value="@category.Id" @(category.Id.ToString() == Model.Category ? "selected" : "")>@category.CategoryName</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Save product!" />
    }
</div>