﻿@using DelightGenie.Models.DbModels.ProductModels
@model DelightGenie.Models.ViewModels.AdminVM.ProductsVM

@if (Model != null && Model.Products != null)
{
    int i = 0;
    foreach (Product product in Model.Products)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@product.ProductName</td>
            <td>@product.Category.CategoryName</td>
            <td>@product.ProductDescription</td>
            <td>@product.ProductPrice RON</td>
            <td>@(product.Transactions != null ? product.Transactions.GroupBy(p => p.Employee).Count() : 0)</td>
            <td>
                <span class="btn-group">
                    <button class="btn btn-warning" data-toggle="modal" data-target="#dashboardmodal" data-remote="/Products/GetProduct/@(product.Id)">
                        Edit
                    </button>
                    @Ajax.ActionLink("Delete", "DeleteProduct/" + product.Id, "Produts", new AjaxOptions { OnBegin = "if(stop){e.preventDefault();return false;}stop=true;return ask();", OnSuccess = "deleteProduct(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);" }, new { @class = "btn btn-danger" })
                </span>
            </td>
        </tr>
    }
}

<script>
    var stop = false;

    function ask() {
        if (!confirm('Are you sure you want to delete the product?')) {
            event.preventDefault();
            setTimeout(function () { stop = false; }, 10);
            return false;
        }
    }
</script>