﻿body {
    background-attachment: fixed;
    background-image: url("/Content/images/background.JPG");
    background-size: cover;
}

#contentbody {
    font-family: 'Roboto';
    height: 100%;
    margin-top: 0px;
    position: absolute;
    width: 100%;
}

#contentbody h1, h2, h3 { font-family: 'Dosis'; }


.userlogin {
    color: #f8862c;
    font-family: 'Dosis';
    font-size: 34px;
}

.userlogin a {
    color: #f8862c;
    margin-left: 5px;
}

.userlogin a:hover { color: #fff; }

.topwhite {
    background-color: #4d5965;
    color: white;
    left: 0px;
    margin-top: 70px;
    min-height: 50px;
    padding: 15px;
    width: 100%;
}

.topwhite .input-sm { min-width: 200px; }

.topwhite .label { background-color: #f8862c; }

.bottomgray {
    font-size: 16px;
    min-height: 200px;
    padding: 15px;
    width: 100%;
}

.givepoints { width: 100px; }


/*message*/

#message {
    bottom: 10px;
    display: none;
    font-family: 'Roboto';
    font-size: 24px;
    height: auto;
    position: fixed;
    right: 10px;
    width: auto;
    z-index: 9000;
}

/*effects*/

.loading {
    -webkit-animation: fadeInOut 1s infinite;
    animation: fadeInOut 1s infinite;
    background-image: url("/Content/images/logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    height: 200px;
    left: 50%;
    margin-left: -400px;
    margin-top: -100px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 800px;
    z-index: 9000;
}


@-webkit-keyframes fadeInOut {
    0% { opacity: 0.5; }

    50% { opacity: 1; }

    100% { opacity: 0.5; }
}

@keyframes fadeInOut {
    0% { opacity: 0.5; }

    50% { opacity: 1; }

    100% { opacity: 0.5; }
}

/*Replacing the bootstrap styles*/

.modal-header h2 { color: #f8862c; }

/*Stolen from unifiedpost*/

.l-header {
    background-color: #4d5965;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
    height: 70px;
    left: 0;
    line-height: 70px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.l-body.headertype_sticky .l-header { position: absolute; }

.l-body.headertype_sticky.headerpos_top .l-header {
    position: fixed;
    top: 0;
}

.l-header-h,
.l-subheader,
.l-subheader-h { height: 100%; }

.l-subheader { width: 96%; }

.w-logo {
    float: left;
    height: 100%;
    margin-left: 20px;
}

.w-logo-h { height: 100%; }

.w-logo-link {
    display: block;
    height: 100%;
}

.w-logo-img {
    display: inline-block;
    height: 50%;
    max-height: 100%;
    vertical-align: middle;
}

.w-logo-title {
    -webkit-transition: color 0.3s ease;
    color: #666;
    font-family: 'Dosis';
    font-size: 36px;
    font-weight: 700;
    line-height: inherit;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.w-logo-link:hover .w-logo-title { color: #333; }