﻿@using DelightGenie.Models.DbModels.AccountModels
@using DelightGenie.Models.ViewModels
@using DelightGenie.Special
<!DOCTYPE html>

<html ng-app='DelightGenie'>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <link rel="stylesheet" href="/Content/Site.css" />
        <link rel="stylesheet" href="/Content/bootstrap.min.css" />
        <link rel="stylesheet" href="/Content/bootstrap-responsive.css" />

        <!--scripts-->
        <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"> </script>
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"> </script>
        <script src="/Scripts/bootstrap.min.js" type="text/javascript"> </script>
        <script type="text/javascript" src="https://www.google.com/jsapi"> </script>

        <!--fonts-->
        <link rel='stylesheet' id='us-body-text-font-css' href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C700&#038;subset=latin&#038;ver=3.8.1' type='text/css' media='all' />
        <link rel='stylesheet' id='us-navigation-font-css' href='http://fonts.googleapis.com/css?family=Dosis%3A400%2C700&#038;subset=latin&#038;ver=3.8.1' type='text/css' media='all' />
        <link rel='stylesheet' id='us-heading-font-css' href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C700&#038;subset=latin&#038;ver=3.8.1' type='text/css' media='all' />
        
        <link rel="icon" type="image/png" href="/Content/favicon.png" />
    </head>
    <body>

        <div class="l-header" style="top: 0px;">
            <div class="l-header-h">

                <!-- subheader -->
                <div class="l-subheader">
                    <div class="l-subheader-h">

                        <!-- logo -->
                        <div class="w-logo">
                            <div class="w-logo-h">
                                <a class="w-logo-link" href="/Home/Index" onclick=" go('Home', 'Index', ''); ">
                                    <img class="w-logo-img" src="/Content/images/logo2.png" alt="UnifiedPost" style="height: auto;">
                                </a>
                            </div>
                        </div>

                        <div class="userlogin" style="float: right">
                            @if (@MySession.Current.UserDetails == null)
                            {
                                <a href="#login" data-toggle="modal"><span class="glyphicon glyphicon-lock"></span>Login</a>
                            }
                            else
                            {
                                if ((MySession.Current.UserDetails is Admin))
                                {
                                }
                                else
                                {
                                    <a href="#" onclick=" " data-toggle="modal" data-target="#usermodal" data-remote="/Transactions/TransactionsTable"><span class="glyphicon glyphicon-leaf" title="View my transactions"></span><span id="points">@((MySession.Current.UserDetails is Employee) ? (MySession.Current.UserDetails as Employee).Points : 0)</span></a>
                                }
                                <a href="#" title="Edit my profile data"><span class="glyphicon glyphicon-user"></span><span id="user">@MySession.Current.UserDetails.UserName</span></a>
                                <a href="/Account/LogOut" data-ajax="true" data-ajax-success="logout(data);" title="Log out"><span class="glyphicon glyphicon-off"></span></a>
                            }
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div id="contentbody">
            @RenderBody()
        </div>

        <!--message-->
        <div id="message" class="alert"></div>
        <div id="loading" class="loading"></div>

        <!--user modal-->
        <div id="usermodal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <!--The DIVs for login-->
        @if (@MySession.Current.UserDetails == null)
        {
            @Html.Partial("~/Views/Shared/UserLogin.cshtml", new LoginModel())
        }
        else
        {
            <script>
                function logout(data) {
                    if (data == "K") window.location.href = '/';
                    else showMessage("alert-danger", "The logout process failed!");
                }
            </script>
        }

        <script>
            $('body').on('hidden.bs.modal', '.modal', function() {
                $(this).removeData('bs.modal');
            });

            function changePoints(newPoints) {
                myPoints = newPoints;
                $("#points").html(myPoints);
                $("#pointslabel").html(myPoints);
            }

            function showMessage(className, text) {
                $("#message").addClass(className);
                $("#message").html(text);
                $("#message").fadeToggle(200);
                setTimeout(function() { $("#message").fadeToggle(500); }, 2000);
                setTimeout(function() { $("#message").removeClass(className); }, 2600);
            }

            /*Ajax load pages*/
            //var initial = 1;

            function go(a, b, c) {
                var page = '/' + a + '/' + b;
                if (c != "")
                    page += '/' + c;

                if (document.location.pathname != page)
                    history.pushState({ controller: a, method: b, id: c }, b, page);
                setupPage(page);
                event.preventDefault();
            }

            window.onpopstate = function(event) {
                var str = document.location.pathname;
                setupPage(str);
                return false;
            };

            function setupPage(page) {
                /*if (initial == 1) {
                initial = 0;
                return false;
            }*/

                $("#loading").show();

                $.ajax({
                    url: page,
                    data: { asPartial: 1 },
                    success: function(response) {
                        $("#loading").hide();
                        $("#contentbody").html(response);
                    },
                    error: function() {
                        $("#loading").hide();
                        showMessage("alert-danger", "The page failed to load!");
                    }
                });
                return false;
            }

            if (location.href.indexOf("#login") > 0)
                showMessage('alert-danger', 'You need to be logged in!');
        </script>

    </body>
</html>