﻿@model DelightGenie.Models.ViewModels.LoginModel


<div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Login</h2>
            </div>
            <div class="modal-body">
                <div id="logintab">
                    @using (Ajax.BeginForm("Login", "Account", new AjaxOptions {OnSuccess = "testLoginResponse(data)"}))
                    {
                        <table class="table">
                            <tr>
                                <td>@Html.LabelFor(m => m.UserName)</td>
                                <td>@Html.TextBoxFor(m => m.UserName)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.Password)</td>
                                <td>@Html.PasswordFor(m => m.Password)</td>
                            </tr>
                        </table>
                        <input type="submit" value="Log me in!" onclick=" $('#loading').show() " class="btn btn-success" />
                        <span id="loginStatus"></span>
                    }
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    function testLoginResponse(data) {
        //Initialisations
        document.getElementById("UserName").style.border = "none";
        document.getElementById("Password").style.border = "none";
        document.getElementById("loginStatus").innerHTML = "";
        $('#loading').hide();

        if (data == "K") document.location.reload(true);
        else if (data == "F") {
            document.getElementById("UserName").style.border = "solid 2px red";
            document.getElementById("Password").style.border = "2px solid red";
            showMessage('alert-danger', 'The username or password is incorrect!');
        }
    }

</script>