﻿@{
    ViewBag.Title = "Index";
}

<style>
    #contentbody { background-color: white; }

    #dashboard {
        background-color: white;
        left: 200px;
        padding: 15px;
        position: absolute;
        right: 0px;
        top: 60px;
    }

    #dashboard h1 {
        color: #4d5965;
        font-family: 'Dosis';
    }

    #dashboard h3 { color: #4d5965; }

    .myh {
        color: #4d5965;
        font-size: 24px;
    }

    .sidebar {
        background-color: #4d5965;
        bottom: 0px;
        font-weight: lighter;
        left: 0px;
        padding-top: 25px;
        position: fixed;
        top: 70px;
        width: 200px;
        z-index: 2;
    }

    .nav li a {
        color: #f8862c;
        font-family: 'Roboto';
        font-size: 18px;
    }

    .nav .sel a:hover { color: #f8862c; }

    .nav .sel {
        background-color: #f8862c;
        color: white;
    }

    .nav .sel:hover { color: #f8862c; }

    .nav .sel a { color: white; }
</style>


<div class="sidebar">
    <ul class="nav">
        <li><a class="sel" href="/Notifications/Index" onclick=" loadpage(event, this) ">Notifications</a></li>
        <li><a href="/Groups/Index" onclick=" loadpage(event, this) ">Groups</a></li>
        <li><a href="/Users/Index" onclick=" loadpage(event, this) ">User Accounts</a></li>
        <li><a href="/Categories/Index" onclick=" loadpage(event, this) ">Product Categories</a></li>
        <li><a href="/Products/Index" onclick=" loadpage(event, this) ">Products</a></li>
        <li><a href="/Purchases/Index" onclick=" loadpage(event, this) ">Purchases</a></li>
        <li><a href="/Reports/GraphsForCommit" onclick=" loadpage(event, this) ">Reports GraphsForCommit</a></li>
        <li><a href="/Reports/TransactionsTimeline" onclick=" loadpage(event, this) ">Reports TransactionsTimeline</a></li>
        <li><a href="/Reports/PurchasesTimeline" onclick=" loadpage(event, this) ">Reports PurchasesTimeline</a></li>
        <li><a href="/Settings/Index" onclick=" loadpage(event, this) ">Account Settings</a></li>
    </ul>
</div>


<div id="dashboard">
    @Html.Action("Index", "Notifications")
</div>

<div id="dashboardmodal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

    
<script>

    var currentPage = "/Home/Notifications";

    function loadpage(event, obj) {
        $("#loading").show();
        currentPage = obj.href;

        $.ajax({
            url: obj.href,
            success: function(response) {
                $("#loading").hide();
                $("#dashboard").html(response);

                setTimeout(function() { loadEverything(); }, 5);
            },
            error: function() {
                $("#loading").hide();
                showMessage("alert-danger", "The page failed to load!");
            }
        });
        event.preventDefault();
        $("a").removeClass("sel");
        $(obj).addClass("sel");
        return false;
    }

    function loadpagelink(link) {
        $("#loading").show();
        currentPage = link;

        $.ajax({
            url: link,
            success: function(response) {
                $("#loading").hide();
                $("#dashboard").html(response);
            },
            error: function() {
                $("#loading").hide();
                showMessage("alert-danger", "The page failed to load!");
            }
        });
    }

    function createUser(data) {
        document.getElementById("UserName").style.border = "none";
        document.getElementById("EmailAddress").style.border = "none";
        $('#loading').hide();

        if (data == "K") {
            showMessage("alert-success", "Creation successful!");
            $('.modal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            loadUsers($("#groupslist").val());
        } else if (data == "U") {
            document.getElementById("UserName").style.border = "solid 2px red";
            showMessage("alert-error", "Username between 4-28 chars, starting with letter.");
        } else if (data == "D") {
            document.getElementById("UserName").style.border = "solid 2px red";
            showMessage("alert-error", "This username is already taken!");
        } else if (data == "E") {
            document.getElementById("EmailAddress").style.border = "solid 2px red";
            showMessage("alert-error", "The email address is not valid!");
        } else if (data == "F") {
            showMessage("alert-error", "The registration failed!");
        }
    }

    function createProduct(data) {
        document.getElementById("Name").style.border = "none";
        $('#loading').hide();

        if (data == "K") {
            $('.modal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();

            showMessage("alert-success", "Creation successful!");
            //alert(currentPage);
            if (currentPage.indexOf("Notifications") >= 0) {
                loadpagelink("/Notifications/Index");
            } else {
                loadProducts($("#categorieslist").val());
            }
        } else if (data == "N") {
            document.getElementById("Name").style.border = "solid 2px red";
            showMessage("alert-danger", "Product name must have over 1 char!");
        } else if (data == "P") {
            showMessage("alert-danger", "The price is invalid!");
        } else if (data == "F") {
            showMessage("alert-danger", "The product cannot be added!");
        }
    }

</script>