﻿@using DelightGenie.Models.DbModels.AccountModels
@using DelightGenie.Special
@{
    ViewBag.Title = "Index";
}



<a href="/Home/Vote" class="btn btn-success btn-lg" role="button" onclick=" go('Home', 'Vote', ''); ">Place your bets!</a>

<div class="jumbotron" style="background: none; bottom: 0px; left: 30px; max-width: 600px; position: fixed;">
    <h1 style="color: #fff; font-family: 'Dosis'">Welcome to <span style="color: #f8862c;">Delight</span>Genie!</h1>
    <h2 style="color: white; font-family: 'Dosis'">
        @(MySession.Current.UserDetails == null || (MySession.Current.UserDetails is Admin) ?
              "Brings delight into your snacks!" :
              (MySession.Current.UserDetails as Employee).WelcomeMessage)
    </h2>
    <br>
    <p>
        @if (@MySession.Current.UserDetails == null)
        {
            <a href="#login" data-toggle="modal" class="btn btn-default btn-lg" role="button">Log in!</a>
        }
        else
        {
            if (MySession.Current.UserDetails is Admin)
            {
                <a href="/Home/Dashboard" class="btn btn-success btn-lg" role="button" onclick=" go('Home', 'Dashboard', ''); ">Go to the dashboard!</a>
            }
            else
            {
                <a href="/Home/Vote" class="btn btn-success btn-lg" role="button" onclick=" go('Home', 'Vote', ''); ">Place your bets!</a>
            }
        }
    </p>
</div>