﻿@using DelightGenie.Models.DbModels.AccountModels
@using DelightGenie.Special
@{
    ViewBag.Title = "Index";
}

<style>
    body { background: white; }
</style>


<div class="topwhite">
    <h1>Toss some points and see what happens! </h1>
    <h3>Pick your category 
        <select id="Categories" class="input-sm" style="color:black" onchange="getProducts(this.value)">
            <option value="0" selected>-- All --</option>
        </select> and spend some points! You have <span id="pointslabel" class="label">-</span> points left!</h3>
    <div style="font-size: 24px;">
        You can <input class="input-sm" style="border: none; color: black;" type="text" placeholder="search" onkeyup=" showProducts(products, this.value); " /> through the list or
        <button id="clickproduct" class="btn btn-success" onclick=" $('#clickproduct').hide(); $('#enterproduct').show(); event.preventDefault(); ">request a new product</button>
        <form onsubmit=" requestNewProduct(); " style="display: inline-block;">
            <span id="enterproduct" style="display: none; width: 200px;">
                <input id="newProductName" type="text" class="input-sm" style="border: none; color: black;" placeholder="write a product name and" />
                <input class="btn btn-success" type="submit" value="make a request" />
            </span>
        </form>
        !
    </div>
</div>

<div class="bottomgray">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product name</th>
                    <th>Category name</th>
                    <th>Product description</th>
                    <th>Give points</th>
                </tr>
            </thead>
            <tbody id="productsTable"></tbody>
        </table>
    </div>
</div>




<script>
    var products;
    var myPoints = @((MySession.Current.UserDetails is Employee) ? (MySession.Current.UserDetails as Employee).Points : 0);
    $("#pointslabel").html(myPoints);
    $("#points").html(myPoints);

    $.ajax({
        type: "GET",
        url: "/Categories/GetCategories",
        context: this,
        success: function(data) {
            $.each(data, function() {
                $("<option />", { value: this.Id, text: this.CategoryName }).appendTo($('#Categories'));
            });
            getProducts("0");
        },
        error: function(data) {
            showMessage('alert-danger', 'Failed to retrieve categories!');
        }
    });

    function getProducts(categoryId) {
        $("#loading").show();

        $.ajax({
            type: "GET",
            url: "/Products/GetProducts",
            data: { categoryId: categoryId },
            context: this,
            success: function(data) {
                products = data;
                showProducts(data, "");
            },
            error: function(data) {
                showMessage('alert-danger', 'The products cannot be fetched from the server!');
                $("#loading").hide();
            }
        });
    }

    function showProducts(data, text) {
        $("#productsTable").html("");

        var i = 0;
        $.each(data, function() {
            if (text == "" || this.ProductName.toLowerCase().indexOf(text.toLowerCase()) >= 0) {
                i++;
                var str = "<form id=\"" + this.Id + "\" onsubmit=\"bid(event, this.id);\"><div class=\"input-group givepoints\"><input id=\"i-" + this.Id + "\" type=\"text\" class=\"form-control\"><span class=\"input-group-btn\"><input class=\"btn btn-warning\" type=\"submit\" value=\"Bid!\" /></span></div></form>";
                var t = $("<tr />");
                $("<td />", { text: i }).appendTo(t);
                $("<td />", { text: this.ProductName }).appendTo(t);
                $("<td />", { text: this.CategoryName }).appendTo(t);
                $("<td />", { text: this.ProductDescription==null?"":this.ProductDescription }).appendTo(t);
                $("<td />", { html: str }).appendTo(t);
                t.appendTo($("#productsTable"));
            }
        });
        $("#loading").hide();
    }


    function bid(event, productId) {
        event.preventDefault();

        var pcts = $('#i-' + productId).val();
        $('#i-' + productId).val("");

        if (pcts == NaN) {
            showMessage('alert-danger', 'Insert a valid number!');
            return;
        } else if (myPoints - pcts < 0) {
            showMessage('alert-danger', 'You don\'t have enough points!');
            return;
        } else if (pcts <= 0) {
            showMessage('alert-danger', 'You can\'t bid less than 1 point!');
            return;
        }

        $("#loading").show();
        $.ajax({
            type: "POST",
            url: "/Products/Vote/",
            data: { productId: productId, points: pcts },
            context: this,
            success: function(data) {
                if (data == -1) {
                    showMessage('alert-danger', 'You don\'t have permission!');
                } else if (data == -2) {
                    showMessage('alert-danger', 'You don\'t have enough points!');
                } else if (data >= 0) {
                    changePoints(data);
                    showMessage('alert-success', 'Bidding successful!');
                } else {
                    showMessage('alert-danger', 'Something went wrong!');
                }

                $("#loading").hide();
            },
            error: function(data) {
                showMessage('alert-danger', 'Connection failed!');
                $("#loading").hide();
            }
        });
    }

    function requestNewProduct() {
        var pName = $("#newProductName").val();
        event.preventDefault();

        $("#loading").show();
        $.ajax({
            type: "POST",
            url: "/Products/RequestProduct/",
            data: { productName: pName },
            context: this,
            success: function(data) {
                if (data == "K") {
                    showMessage('alert-success', 'Request successful!');
                    $("#newProductName").val("");
                    $('#clickproduct').show();
                    $('#enterproduct').hide();
                } else showMessage('alert-danger', 'The product request failed!');
                $("#loading").hide();
            },
            error: function(data) {
                showMessage('alert-danger', 'The product request failed!');
                $("#loading").hide();
            }
        });
    }
</script>
