﻿@using DelightGenie.Models.DbModels.ProductModels
@model DelightGenie.Models.ViewModels.AdminVM.CategoriesVM


<style>
    table td { padding-right: 10px; }
</style>

<h1>Product categories</h1>
<div class="myh">
    <form onsubmit=" createCategory() ">
        <table>
            <tr>
                <td>Create a new category </td>
                <td>
                    <input type="text" id="categoryname" class="form-control" placeholder="Insert category name" />
                </td>
                <td>
                    <input type="submit" class="btn btn-success" value="Create category!" />
                </td>
            </tr>
        </table>
    </form>
</div>

<br /><br />



<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Category name</th>
                <th>Number of products</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="categoryTable">
            @if (Model != null && Model.Categories != null)
            {
                int i = 0;
                foreach (Category category in Model.Categories)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@category.CategoryName</td>
                        <td>@(category.Products != null ? category.Products.Count : 0)</td>
                        <td>
                            <span class="btn-group">
                                <button class="btn btn-warning" data-toggle="modal" data-target="#dashboardmodal" data-remote="/Categories/GetCategory/@(category.Id)">
                                    Edit
                                </button>
                                @Ajax.ActionLink("Delete", "DeleteCategory/" + category.Id, "Products", new AjaxOptions { OnBegin = "if(stop){e.preventDefault();return false;}stop=true;return ask();", OnSuccess = "deleteCategory(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);" }, new { @class = "btn btn-danger" })
                            </span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    var stop = false;

    function deleteCategory(data) {
        if (data == "K") {
            showMessage("alert-success", "Category deleted!");
            loadpagelink("/Categories/Index");
        } else {
            showMessage("alert-danger", "The delete failed!");
        }
    }

    function createCategory() {
        event.preventDefault();
        var categoryName = $('#categoryname').val();

        if (categoryName.length < 3) {
            showMessage('alert-danger', 'Insert at least 3 characters!');
            return;
        }

        $("#loading").show();

        $.ajax({
            type: "POST",
            url: "/Categories/InsertCategory",
            data: { categoryName: categoryName },
            context: this,
            success: function(data) {
                showMessage("alert-success", "Category added!");
                loadpagelink("/Categories/Index");
            },
            error: function(data) {
                showMessage('alert-danger', 'Adding the category failed!');
                $("#loading").hide();
            }
        });
        return false;
    }

    function editCategory(data) {
        if (data == "K") {
            showMessage("alert-success", "Category modified!");
            loadpagelink("/Categories/Index");
            $('.modal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        } else if (data == "N") {
            showMessage('alert-danger', 'Insert at least 3 characters!');
        }
        else {
            showMessage("alert-danger", "The modification failed!");
        }
    }

    function ask() {
        if (!confirm('Are you sure you want to delete the category?')) {
            event.preventDefault();
            setTimeout(function () { stop = false; }, 10);
            return false;
        }
    }
</script>
