﻿@using DelightGenie.Models.DbModels.HistoryModels
@model DelightGenie.Models.ViewModels.AdminVM.CommitsVM

<!--Load the AJAX API-->
<script type="text/javascript">
    var commitid = "";
    // Load the Visualization API and the piechart package.

    function loadEverything() {
        google.load('visualization', '1.0', { 'callback': 'void()', 'packages': ['corechart'] });
    }

    // Set a callback to run when the Google Visualization API is loaded.
    //google.setOnLoadCallback(populateData);

    function populateData() {
        $.get('/Reports/CreateTransactionCharts/' + commitid, {},
            function(data) {
                if (data == null)
                    return;

                var tdata = new google.visualization.DataTable();

                tdata.addColumn('string', 'Product');
                tdata.addColumn('number', 'Points');

                for (var i = 0; i < data.length; i++) {
                    tdata.addRow([data[i].ProductName, data[i].Points]);
                }

                // Create and draw the visualization.
                var pie = new google.visualization.PieChart(document.getElementById('pie'));
                pie.draw(tdata, { title: "Transactions Pie Chart for a certain commit", pieHole: 0 });

                var bar = new google.visualization.BarChart(document.getElementById('bar'));
                bar.draw(tdata, { title: "Transactions Bar Chart for a certain commit" });
            }
        );
    }
</script>
<h3>View distribution of points in a commit</h3>

<div class="myh">
    <table>
        <tr>
            <td>Select the commit </td>
            <td>
                <select id="commitslist" class="form-control" onchange=" setCommit(this.value) ">
                    <option value="0"></option>
                    @if (Model != null && Model.Commits != null)
                    {
                        foreach (Commit commit in Model.Commits)
                        {
                            <option value="@commit.Id">@commit.CommitDate</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</div>

<!--Div that will hold the pie chart-->
<div id="bar" style="width: 100%;"></div>
<div id="pie" style="width: 100%;"></div>


<script>
    function setCommit(cid) {
        if (cid == 0) return;

        commitid = cid;

        populateData();
    }
</script>