﻿<!--Load the AJAX API-->
<script type="text/javascript">

    function loadEverything() {
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });
    }

    function populateData() {
        $.get('/Reports/CreatePurchasesTimeline', {},
            function(data) {
                if (data != null) {
                    var tdata = new google.visualization.DataTable();

                    tdata.addColumn('date', 'Commit');
                    tdata.addColumn('number', 'Budget');
                    tdata.addColumn('number', 'Paid');

                    for (var i = 0; i < data.length; i++) {
                        tdata.addRow([toJavaScriptDate(data[i].Date), data[i].Budget, data[i].Paid]);
                    }
                }

                // Create and draw the visualization.
                var line = new google.visualization.ColumnChart(document.getElementById('chart'));
                line.draw(tdata,
                    {
                        title: 'Company Performance',
                    });
            }
        );
    }

    function toJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));

        var date = new Date(dt.getFullYear(), dt.getMonth(), dt.getDay());

        return date;
    }
</script>
<br /><br /><br />
<!--Div that will hold the pie chart-->
<div id="chart" style="width: 100%;"></div>

<script>
    setTimeout(function() { populateData(); }, 1000);
</script>