﻿<script type="text/javascript">

     function loadEverything() {
         // Load the Visualization API and the piechart package.
         google.load('visualization', '1.0', { 'packages': ['corechart'] });
     }

     function populateData() {
         $.get('/Reports/CreateTransactionsTimeline', {},
             function(data) {
                 if (data != null) {
                     var tdata = new google.visualization.DataTable();

                     tdata.addColumn('date', 'Date');

                     for (var i = 0; i < data[0].Products.length; i++) {
                         tdata.addColumn('number', data[0].Products[i]);
                     }

                     for (var i = 0; i < data.length; i++) {
                         var v = Array();

                         v[0] = toJavaScriptDate(data[i].Date);

                         for (var j = 0; j < data[i].Products.length; j++) {
                             v[j + 1] = data[i].Points[j];
                         }

                         tdata.addRow(v);
                     }
                 }

                 // Create and draw the visualization.
                 var line = new google.visualization.LineChart(document.getElementById('line'));
                 line.draw(tdata, { title: "Transactions Timeline" });
             }
         );
     }

     function toJavaScriptDate(value) {
         var pattern = /Date\(([^)]+)\)/;
         var results = pattern.exec(value);
         var dt = new Date(parseFloat(results[1]));

         var date = new Date(dt.getFullYear(), dt.getMonth(), dt.getDay());

         return date;
     }
 </script>
<br /><br /><br />
<!--Div that will hold the pie chart-->
<div id="line" style="width: 100%;"></div>

<script>
    setTimeout(function() { populateData(); }, 1000);
</script>