﻿@using DelightGenie.Models.DbModels.AccountModels
@model DelightGenie.Models.ViewModels.AdminVM.UserVM

<script>
    var stop = false;
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Edit user @Model.UserName</h2>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("EditUser", "Users", new AjaxOptions {OnBegin = "if(stop)e.preventDefault();$('#loading').show();stop=true;", OnSuccess = "editUser(data);stopForm=false;setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);"}))
    {
        @Html.HiddenFor(m => m.OldUserName)
        <table class="table">
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.EmailAddress)</td>
                <td>@Html.TextBoxFor(m => m.EmailAddress)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.FirstName)</td>
                <td>@Html.TextBoxFor(m => m.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.LastName)</td>
                <td>@Html.TextBoxFor(m => m.LastName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Points)</td>
                <td>@Html.TextBoxFor(m => m.Points)</td>
            </tr>
            <tr>
                <td>Group</td>
                <td>
                    <select name="group" id="groupslist" class="form-control">
                        @if (Model != null && Model.Groups != null)
                        {
                            foreach (Group group in Model.Groups)
                            {
                                <option value="@group.Id" @(group.Id.ToString() == Model.Group ? "selected" : "")>@group.GroupName</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Save user!" />
    }
</div>