﻿@using DelightGenie.Models.DbModels.AccountModels
@model DelightGenie.Models.ViewModels.AdminVM.GroupsVM

<style>
    table td { padding-right: 10px; }
</style>

<h1>User Accounts</h1>
<div class="myh">
    <table>
        <tr>
            <td>View users from a group </td>
            <td>
                <select id="groupslist" class="form-control" onchange="loadUsers(this.value)">
                    <option value="0" selected>-- All --</option>
                    @if (Model != null && Model.Groups != null)
                    {
                        foreach (Group group in Model.Groups)
                        {
                            <option value="@group.Id">@group.GroupName</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</div>

<br /><br />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Group</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Points</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="usersTable"></tbody>
    </table>
</div>

<script>
    function loadUsers(groupId) {
        $("#loading").show();

        $.ajax({
            type: "GET",
            url: "/Users/UsersTable",
            data: { groupId: groupId },
            context: this,
            success: function(data) {
                $("#usersTable").html(data);
                $("#loading").hide();
            },
            error: function(data) {
                showMessage('alert-danger', 'The users table cannot be fetched from the server!');
                $("#loading").hide();
            }
        });
    }

    function editUser(data) {
        $('#loading').hide();

        if (data == "K") {
            showMessage("alert-success", "Saved!");
            $('.modal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            loadUsers($("#groupslist").val());
        } else if (data == "E") {
            showMessage("alert-danger", "The email is not valid!");
        } else if (data == "U") {
            showMessage("alert-danger", "The username is not valid or already taken!");
        } else {
            showMessage("alert-danger", "The edit failed!");
        }
    }

    function deleteUser(data) {
        if (data == "K") {
            showMessage("alert-success", "User deleted!");
            loadUsers($("#groupslist").val());
        } else {
            showMessage("alert-danger", "The delete failed!");
        }
    }

    loadUsers($("#groupslist").val());

    //Reset the modal after usage
    $('body').on('hidden.bs.modal', '.modal', function() {
        $(this).removeData('bs.modal');
    });
</script>
