﻿@using DelightGenie.Models.DbModels.AccountModels
@model DelightGenie.Models.ViewModels.AdminVM.UsersVM

@if (Model != null && Model.Employees != null)
{
    int i = 0;
    foreach (Employee user in Model.Employees)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@user.UserName</td>
            <td>@user.Group.GroupName</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Points</td>
            <td>
                <span class="btn-group">
                    <button class="btn btn-warning" data-toggle="modal" data-target="#dashboardmodal" data-remote="/Users/GetUser/@Server.HtmlEncode(user.UserName)">
                        Edit
                    </button>
                    @Ajax.ActionLink("Delete", "DeleteUser/" + Server.HtmlEncode(user.UserName), "Users", new AjaxOptions { OnBegin = "if(stop){e.preventDefault();return false;}stop=true;return ask();", OnSuccess = "deleteUser(data);setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);" }, new { @class = "btn btn-danger" })
                </span>
            </td>
        </tr>
    }
}
<script>
    var stop = false;
</script>
<script>
    function ask() {
        if (!confirm('Are you sure you want to delete the user?')) {
            event.preventDefault();
            setTimeout(function () { stop = false; }, 10);
            return false;
        }
    }
</script>