﻿@using DelightGenie.Models.ViewModels
@model DelightGenie.Models.ViewModels.AdminVM.PurchasesVM
<script>
    var stop = false;
</script>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <!--th>Score Percentage</th-->
                <th>Total Score</th>
                <th>Nr. Items</th>
                <th>Product budget</th>
            </tr>
        </thead>
        <tbody id="groupsTable">
            @if (Model != null && Model.Results != null)
            {
                int i = 0;
                foreach (ResultModel r in Model.Results)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@r.ProductName</td>
                        <td>@r.ProductPrice</td>
                        <!--td>@r.Percentage</td-->
                        <td>@r.TotalScore</td>
                        <td>@r.NrItems</td>
                        <td>@r.AllPrice</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />

@if (Model.ViewExistent == false)
{
    <h3>The total price is @(Model != null ? Model.TotalAllPrice : 0)</h3>
    <input type="button" class="btn btn-success" onclick=" createCommit(1) " value="Submit the report !" />
}
else
{
    <h3>The total price is @(Model != null ? Model.TotalAllPrice : 0)</h3>
    <a href="/Reports/GetReportXls/@Model.CommitID" class="btn btn-success">Download as xls !</a>
    <a href="/Reports/GetReportPdf/@Model.CommitID" class="btn btn-success">Download as pdf !</a>
    @Ajax.ActionLink("Delete commit!", "DeleteCommit/" + Model.CommitID, "Purchases", new AjaxOptions {OnBegin = "if(stop)e.preventDefault();stop=true;return ask()", OnSuccess = "deleteCommit(data);stopForm=false;setTimeout(function () { stop = false; }, 10);", OnFailure = "showMessage('alert-danger', 'Failed!');setTimeout(function () { stop = false; }, 10);"}, new {@class = "btn btn-danger"})
}