﻿@using DelightGenie.Models.DbModels.HistoryModels
@model DelightGenie.Models.ViewModels.AdminVM.CommitsVM

<style>
    table td { padding-right: 10px; }
</style>
<script>
    var c = 0;
</script>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#endmonth" role="tab" data-toggle="tab">Create a new shopping list</a></li>
    <li><a href="#viewcommits" role="tab" data-toggle="tab">View earlier purchases</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="endmonth">
        <h1>Make the final 'shopping list'</h1>
        <div class="myh">
            <form onsubmit=" createCommit(0) ">
                <table>
                    <tr>
                        <td>Enter your budget</td>
                        <td>
                            <input type="text" id="budget" class="form-control" placeholder="Insert budget" />
                        </td>
                        <td>
                            <input type="submit" class="btn btn-success" onclick=" createCommit(0) " value="Preview the report !" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>

        <br /><br />

        <div id="generation">

        </div>
    </div>

    <div class="tab-pane" id="viewcommits">
        <br/>
        <div class="myh">
            <table>
                <tr>
                    <td>Select the commit </td>
                    <td>
                        <select id="commitslist" class="form-control" onchange=" loadCommit(this.value) ">
                            <option value="0"></option>
                            @if (Model != null && Model.Commits != null)
                            {
                                foreach (Commit commit in Model.Commits)
                                {
                                    <option value="@commit.Id">@commit.CommitDate</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div id="committable"></div>
    </div>
</div>



<script>
    function createCommit(commit) {
        event.preventDefault();
        $("#loading").show();

        var budget = $("#budget").val();
        $.ajax({
            type: "POST",
            url: "/Purchases/GenerateReport",
            data: { budget: budget, submitcommit: commit },
            context: this,
            success: function(data) {
                $("#loading").hide();
                showMessage("alert-success", "Done!");
                if (commit) loadpagelink("/Purchases/Index");
                else
                    $("#generation").html(data);
            },
            error: function(data) {
                showMessage('alert-danger', 'Failed!');
                $("#loading").hide();
            }
        });
        return false;
    }

    function loadCommit(commitId) {
        if (commitId == 0) return;

        $("#loading").show();

        $.ajax({
            type: "POST",
            url: "/Purchases/GetCommitTable",
            data: { id: commitId },
            context: this,
            success: function(data) {
                $("#committable").html(data);
                $("#loading").hide();
            },
            error: function(data) {
                showMessage('alert-danger', 'The selected commit cannot be fetched from the server!');
                $("#loading").hide();
            }
        });
    }

    function deleteCommit(data) {
        if (data == "K") {
            showMessage("alert-success", "Commit deleted!");
            loadpagelink("/Purchases/Index");
        } else {
            showMessage("alert-danger", "The delete failed!");
        }
    }

    function ask() {
        if (!confirm('Are you sure you want to delete the commit?')) {
            event.preventDefault();
            return false;
        }
    }

</script>